.button {
  width: 140px;
  padding: 16px 40px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem; /* No quotes around the value */

  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-1 {
  background-color: turquoise;
  border: 3px solid turquoise;
  border-radius: 50px;
  transition: all .15s ease-in-out;
  color: black;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 turquoise inset, 0 0 20px 2px turquoise;
  border: 3px solid turquoise;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .button {
    width: 50%;

    margin-right:5px;
    margin-bottom: 15px;
    padding: 3px 7px;
    border-radius: 8px;
    font-size: 0.73rem; 
  }
}
